body {
  background-color: rgb(220, 185, 253);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1400px;
  
}

.header {
  padding: 20px;
  border-bottom: 1px solid  rgb(200, 141, 255);
}

.nav-menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  text-decoration: none;
}
